<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container" id="app">
        <div class="row">
          <div class="col-md-8 offset-2 card mt-3">
            <div class="text-right">
              <button class="btn btn-success my-3" v-on:click="addItem">新增</button>
            </div>
            <table class="table">
              <tr>
                <th>標題</th>
                <th>圖片</th>
                <th>銷售狀況</th>
                <th>編輯</th>
              </tr>
              <tbody>
                <tr v-for="item in products" :key="item.id" :class="{'table-info' : item.onStock}">
                  <td width="20%">{{ item.name }}</td>
                  <td width="40%">
                    <img :src="item.imageUrl" class="w-25" alt="">
                  </td>
                  <td width="15%">
                    <input type="checkbox" v-model="item.onStock">
                  </td>
                  <td width="15%">
                    <button class="btn btn-outline-success" @click="editItem(item)">編輯</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="form-group" v-if="isNew || temp.id">
              <div class="mb-3">
                <label for="">產品名稱</label>
                <input type="text" class="form-control" name="" id="" v-model="temp.name">
              </div>
              <div class="mb-3">
                <img :src="temp.imageUrl" class="w-50 my-2" alt="">
                <hr>
                <label for="">產品圖片</label>
                <input type="text" class="form-control" name="" id="" v-model="temp.imageUrl">
              </div>
              <button class="btn btn-primary" @click='confirmEdit'>確認</button>
            </div>
          </div>          
        </div>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const products = [
        {
          id: '1',
          imageUrl: 'img/cake01.jpg',
          name: '豪華版蛋糕001',
          onStock: false,
        },
        {
          id: '2',
          imageUrl: 'img/cake02.jpg',
          name: '豪華版蛋糕002',
          onStock: false,
        }
      ]
      const App = {
        data() {
          return {
            products: [],
            temp: {
              name: '',
              imageUrl: ''
            },
            isNew: false,
          }
        },
        methods: {
          addItem() {
            this.isNew = true;
            this.temp = {}
          },
          confirmEdit() {
            if (!this.temp.id) {
              this.temp.id = new Date().getTime();
              this.temp.onStock = false;
              console.log(this.temp);
              this.products.push(this.temp);
              this.temp = {};
            } else {
              this.products.forEach((item, i) => {
                if (item.id === this.temp.id) {
                  this.products[i] = this.temp;
                }
              });
              this.temp = {};
            }
             this.isNew = false;
          },
          editItem(item) {
            this.temp = {...item};
          }
        },
        created() {
          this.products = products;
        },
      }
      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>